<div class="container">
	<mat-card class="card">
		<mat-card-header class="card__title">
			<mat-card-title>SELECCIONA UNA FUNCIONALIDAD</mat-card-title>
		</mat-card-header>
		<mat-card-content class="card-content">
			<mat-list>
				<mat-list-item><a routerLink="/student" mat-flat-button>Ver estudiantes</a></mat-list-item>
				<mat-list-item><button mat-button>Basic</button></mat-list-item>
				<mat-list-item><button mat-flat-button color="warn">Basic</button></mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>
